{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Crear servicio{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-4 text-center">Nuevo Servicio</h1>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="next" value="{{ next }}">
          <button type="submit" class="btn btn-primary w-40"> Guardar </button> <a class="btn btn-outline-secondary" href="{% url 'core:services' %}"> Cancelar </a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}